{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "no-console": 0,
    "@typescript-eslint/indent": 0,
    "prettier/prettier": 2,
  }
}
